


.page-title > a{
    display: flex;
    justify-content: center;
    color: white;
    top: 40px;
    text-align: center;
    position: relative;
    font-size: 40px;
    top: 135px;
}

.page-title:hover{
    text-align: center;
    font-size: 65px;
    text-shadow: 5px 3px 0px #df0202;
}


.page-title-review > a{
    display: flex;
    justify-content: center;
    color: white;
    top: 40px;
    text-align: center;
    position: relative;
    font-size: 40px;
}

.page-title-review:hover > a{
    text-align: center;
    font-size: 55px;
    /* text-shadow: 5px 3px 0px #df0202; */
}



.create-review-placement{
    display: flex;
    flex-direction: column;
}

.create-review-form {
    margin-top: 175px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: -100px;
    align-content: space-around;
    border: 2px solid black;
    background-color: white;
    width: 50%;
}

.create-review-item{
    margin-bottom: 10px;
}


.submit-review-button{
    margin-left: 110px;
    margin-bottom: 15px;

}
