
.cart-item-placement{
    padding: 40px;
}
.cart-item-grid{
    display: grid;
    grid-template-areas: "img title size price btn";
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-content: center;

}


.cart-item-image{
    grid-area: img;
    width:200px;
    height: 150px;
    padding-top: 6px;
    padding-bottom: 10px;
}

.cart-item-title{
    grid-area: title;
    display: flex;
    align-items: center;
}

.cart-item-shoeSize{
    grid-area: size;
    display: flex;
    align-items: center;
}

.cart-item-price{
    grid-area: price;
    display: flex;
    align-items: center;
}


.cart-remove-button{
 grid-area: btn;
 height: 40px;
 width: 100px;
 align-self: center;
}

/* .cart-purchase-button{

} */
