/* Search Bar */

/* .search-list-container{ */
    /* height: 350px;
    overflow:scroll; */
    /* background-color: #a7b9c7; */
/* } */



/* Search List */
/* .search-grid{
    grid-template-areas: "img title";
}


.search-col-one{
    grid-area: img;
}
.search-col-two{
    grid-area: title;
} */
