body{
    background-color:wheat
}

.homepage-title{
    text-align: center;
}



.all-shoes-container{
    display: flex;
    justify-content: space-evenly;
    /* need to figure out how to have the products be evenly placed */
    flex-wrap: wrap;
}

.shoe-container{
    text-align: center;
    border: 2px solid black;
    width:350px;
    /* max-width:351px; */
    height: 400px;
    padding-bottom: 10px;
    /* might look better with images */
    /* height: auto; */

    margin-bottom: 10px;
}

.shoe-container:hover{
    background-color:rgba(58, 57, 57, 0.685);
    padding: 20px;
    /* text-color: white; */

    /* width:360px;
    height: 410px; */
    width:355px;
    height: 405px;
}

.shoe-image-container{
    padding: 10px;
}

.shoe-image{
    max-width: 300px;
    max-height: 200px;
    min-width: auto;
}
