

.homepage-title{
    text-align: center;
}



.all-shoes-container{
    display: flex;
    justify-content: space-evenly;
    /* need to figure out how to have the products be evenly placed */
    flex-wrap: wrap;
}

.shoe-container{
    text-align: center;
    border: 2px solid black;
    min-width:350px;
    max-width:351px;
    height: 375px;
    /* might look better with images */
    /* height: auto; */

    margin-bottom: 10px;
}

.shoe-image-container{
    padding: 10px;
}

.shoe-image{
    max-width: 300px;
    max-height: 200px;
    min-width: auto;
}
