


.edit-page-title > a{
    /* color: white; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.edit-page-title:hover {
    /* color: white; */
    /* background-color: #a7b9c7; */
    font-size: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    /* text-shadow: 5px 3px 0px #df0202; */
    /* top: 40px; */
}

.edit-review-placement{
    display: flex;
    flex-direction: column;
}

.edit-review-form {
    margin-top: 175px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: -100px;
    align-content: space-around;
    border: 2px solid black;
    background-color: white;
    width: 50%;
}

.edit-review-item{
    margin-bottom: 10px;
}


.edit-review-button{
    margin-left: 110px;
    margin-bottom: 15px;

}
.delete-review-button{
    margin-left: 110px;
    margin-bottom: 15px;

}
