
.form-placement{
    display: flex;
    flex-direction: column;
    background-image: url("https://theplug-app-aws.s3.us-west-1.amazonaws.com/New-Shoe-background-img.jpeg");
    background-size: 900px 950px;
    height: 950px;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: -1;

}

#new-shoe-header > a {
    background-color: white;
    width: 250px;
    /* border: 1px solid white; */
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    /* text-shadow: 5px 3px 0px #df0202; */
    top: 120px;
}

#new-shoe-header{
    /* background-color: black; */
    display: flex;
    justify-content: center;
}



.form-container {
    margin-top: 175px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-self: center;
    /* align-items: center; */
    align-content: space-around;
    border: 2px solid black;
    background-color: white;
    /* background-color: #24292e; */
    width: 50%;
}

.edit-shoe-form-container {
    margin-top: 135px;
    padding:40px;
    display: flex;
    justify-content: center;
    align-self: center;
    /* align-items: center; */
    align-content: space-around;
    border: 2px solid black;
    background-color: white;
    /* background-color: #24292e; */
    width:30%;
}

.new-shoe-form-container {
    margin-top: 175px;
    padding:40px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: space-around;
    border: 2px solid black;
    /* background-color: white; */
    background-color: white;
    /* color:white; */
    width: 30%;
}


.new-errors-new-shoe{
    overflow: scroll;
    height: 100px;
    margin-bottom: 35px;
    color:red;
}

.new-errors-edit-shoe{
    position: relative;
    left: 20px;
    overflow: scroll;
    height: 50px;
    margin-bottom: 35px;
    color:red;
}

.new-errors-review{
    text-align: center;
    position: relative;
    left: 20px;
    overflow: scroll;
    height: 80px;
    margin-bottom: 35px;
    color:red;
}
.new-errors-review-edit{
    text-align: center;
    position: relative;
    left: 20px;
    overflow: scroll;
    height: 50px;
    margin-bottom: 35px;
    color:red;
}

.new-shoe-button{
    margin-left: 60px;
    background: none;
	border-radius: 0;
	padding: 0.45em 2.5em;
	letter-spacing: 0.3em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;



}

.new-shoe-button:hover{
    color: rgba(255,255,255,1);
    background-color: #454c53;
    box-shadow: inset 0 0 0 rgba(7, 7, 7, 0.3), 0 0 1.2em rgba(0, 0, 0, 0.5);
 }

 /* delete later */
/* .form-item{
    margin-bottom: 10px;
} */

#shoe-textarea{
    position: relative;
    top: 10px;
}

#shoes-edit-description{
    position: relative;
    bottom: 10px;
}
#shoes-new-description{
    position: relative;
    bottom: 10px;
}

.form-item-edit{
    margin-bottom: 20px;
    position: relative;
    left: 60px;
}


.form-item-new{
    margin-bottom: 15px;
    position: relative;
    left:40px;
}

.button-containers{
    position: relative;
    /* right: 90px; */
}

.edit-button{
    margin-right: 4px;
    /* margin-left: 30px; */
    background: none;
	border-radius: 0;
	padding: 0.45em 2.5em;
	letter-spacing: 0.3em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.edit-button:hover{
    color: rgba(255,255,255,1);
    background-color: #454c53;
    box-shadow: inset 0 0 0 rgba(7, 7, 7, 0.3), 0 0 1.2em rgba(0, 0, 0, 0.5);
 }

 .delete-button{
    margin-left: 4px;
    /* margin-left: 30px; */
    background: none;
	border-radius: 0;
	padding: 0.45em 2.5em;
	letter-spacing: 0.3em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.delete-button:hover{
    color: rgba(255,255,255,1);
    background-color: #454c53;
    box-shadow: inset 0 0 0 rgba(7, 7, 7, 0.3), 0 0 1.2em rgba(0, 0, 0, 0.5);
 }
