
.form-placement{
    display: flex;
    flex-direction: column;
    background-image: url("../../../background-images/New-Shoe-background-img.jpeg");
    background-size: 900px 950px;
    height: 950px;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: -1;

}

#new-shoe-header > a {
    background-color: white;
    width: 250px;
    /* border: 1px solid white; */
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    /* text-shadow: 5px 3px 0px #df0202; */
    top: 120px;
}

#new-shoe-header{
    /* background-color: black; */
    display: flex;
    justify-content: center;
}



.form-container {
    margin-top: 175px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-self: center;
    /* align-items: center; */
    align-content: space-around;
    border: 2px solid black;
    background-color: white;
    width: 50%;
}

.new-shoe-button{
    margin-left: 110px;
}

.form-item{
    margin-bottom: 10px;
}
.form-item-new{
    margin-bottom: 15px;
}

.edit-button{
    margin-right: 4px;
}

.delete-button{
    margin-left: 4px;
}
