
.details-page-title{
    text-align: center;
}
.details-container{
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
}

.shoe-details-container{
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: auto;
}


.shoe-details-checker{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.reviews-title{
    margin-top: 30px;
    /* margin-bottom: 5px; */
    text-align: center;
}
.reviews-container{
    text-align: center;
    height: 450px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    padding-top:30px
}


.reviews{
    border: 1px solid black;
    width: 400px;
    overflow: scroll;
}
