
.details-page-title{
    text-align: center;
}
.details-container{
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
}

.shoe-details-container{
    text-align: center;
    border: 1px solid black;
    width: 350px;
    height: auto;
}


.shoe-details-checker{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


.shoe-details-image > img{
    padding: 10px;
    min-width: 300px;
    min-height: 200px;
    max-width: 325px;
    max-height: 201;
}



/* Reviews CSS */
.reviews-title{
    margin-top: 30px;
    /* margin-bottom: 5px; */
    text-align: center;
}
.reviews-container{
    text-align: center;
    height: 450px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}


.reviews{
    border: 1px solid black;
    width: 650px;
    overflow: scroll;
}

.reviews-spacer{
    height: 40px;
}
