

.details-container{
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
}

.shoe-details-container{
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: auto;
}


.shoe-details-checker{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


.reviews-container{
    margin-left: 15px;
}
