

.leave-review-button{
    margin-top:20px;

}


a:visited{
    color: black;
}
a{
    color: black;
}

.review-container{
    display: grid;
    justify-items: start;
     justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    /* flex-direction: row-reverse; */
    align-content: center;
    grid-template-areas: "img comment rating user edit";


}


.review-comment{
    display: flex;
    justify-content: center;
    grid-area: comment;
    width: 150px;
    text-align: center;
    overflow-x: scroll;
    max-height: 70px;
}

.review-rating{
    display: flex;
    justify-content: center;
    grid-area: rating;
}

.review-image{
    display: flex;
    justify-content: center;
    grid-area: img;
    max-width: 190px;
    max-width: auto;

}

.review-username{
    display: flex;
    justify-content: center;
    grid-area: user;
    width: 150px;
}

.review-edit-button{
    grid-area: edit;
    height: 30px;
    width: 50px;

}

/* Reviews with no Edit button */

.review-container-noEdit{
    display: grid;
    justify-items: start;
     /* justify-content: space-around; */
     justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    /* flex-direction: row-reverse; */
    align-content: center;
    grid-template-areas: "img comment rating user  ";
}

.review-image-noEdit{
    display: flex;
    justify-content: center;
    grid-area: img;
    max-width: 190px;
    /* width: 150px; */
    margin-left:-55px;
}


.review-comment-noEdit{
    display: flex;
    justify-content: center;
    grid-area: comment;
    width: 150px;
    /* text-align: center; */

    margin-left:-50px;
}

.review-rating-noEdit{
    display: flex;
    justify-content: center;
    grid-area: rating;
}
.review-username-noEdit{
    display: flex;
    justify-content: center;
    grid-area: user;
    width: 150px;
    margin-left:-40px;
    text-align: center;
}


/* review labels */
.review-labels{
    display: flex;
    text-decoration: underline;
    justify-content: space-around;
    margin-left: 30px;
}

.label-review-image{
    margin-left: 40px;
}

.label-review-comment{
    margin-left:65px;
}
.label-review-username{
    margin-right: 120px;
}

/*

- [ ] set edit button to be at the bottom in the middle of the single review
- [ ] Need to make reviews container a grid so all columns are in the middle
       so images can be in-line with one another
- [ ] Need to start on Edit Reviews Feature
*/
