.profile-dropdown {
  position: absolute;
}


.nav-logged-in{
  background-color:#cc0000;
  margin: -8px;
  height:50px;
  border: 1px solid white;
  /* width: 100%; */
  /* height: 0 auto; */

  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  align-items: center;
}




.nav-button{
  margin-right: 20px;
  margin-left: 10px;
  width: 90px;
  height: 25px;
}


.nav-profile-button{
  margin-right: 10px;
}

button > *{
  text-decoration: none;
}
a{
  text-decoration: none;

}

a:visited{
  color: black;
}
